body{
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-color: white;
	margin:0px;
	padding:0px;
	font-family: arial;
}
#back{
	width: 70%;
	left: 15%;
	height: auto;
	position: relative;
	padding: 0px;
	background-color: white;
}
#menu{
	background-color: rgb(47,102,267);
	height: 7%;
	position: relative;
	width: 100%;
	line-height: 50px;
	vertical-align: middle;
	z-index: 3;
	margin-bottom: 0px;
	border-bottom: 5px solid white;
	text-align: center;	
}
#menu_b{
	height: 100%;
	position: relative;
	width: auto;
	vertical-align: middle;
	display: inline-block;
	padding: 0px;
	margin: 0 auto 0;
	text-align: center;	
	z-index: 3;
}
#menu div{
	height: 7%;
	font-size: 16pt;
	color: white;
	width: 30%;
	font-weight: bold;
	margin-left:20px;
	float:left;
	font-family: times;
}
#head{
	background: linear-gradient(to bottom, rgb(54,157,247), white);
	height: 20%;
	position: relative;
	text-align: center;
	color: white;
	line-height: 150px;
	font-style: italic;
	font-size: 400%;
	width: 100%;
	margin: 0px;
}
#ank{
	position: absolute;
	width: 9.5%;
	height: 100%;
	top:0px;
	right: 0px;
	display: inline-block;
	vertical-align: top;
	background-color: rgb(237,237,237);
	opacity: 0.5;
	overflow: hidden;
}
#info{
	position: relative;
	display: inline-block;
	background-color: white;
	min-height: 93%;
	vertical-align: top;
	text-align: center;
	width: 30%; 
}
#content{
	position: relative;
	min-height: 93%;
	background-color: white;
	width: 58%;
	margin: 0px;
	vertical-align: top;
	padding-right: 5px;
	padding-left: 5px;
	display: inline-block;
	border-right: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	z-index: 2;
	overflow: hidden;
}
#register{
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 5px;
	padding: 0px;
	border-bottom: 1px solid lightgrey;
}
.pager_b{
	position:relative;
	width: auto;
	height: auto;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom: 1px solid lightgrey;
}
#send{
	width:auto;
	height: auto;
	margin-bottom: 5px;
	border-bottom: 1px solid lightgrey;
}
#edit{
	width:auto;
	height: auto;
	margin-bottom: 0px;
	border-bottom: 1px solid lightgrey;
}
#login{
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 5px;
	border-bottom: 1px solid lightgrey;
}
#register p.head{
	position: relative;
	color: white;
	background-color: rgb(129,195,252);
	text-indent: 20px;
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: auto;
	height: auto;
	margin: 0px;
	margin-bottom: 10px;

} 
#fon{
	position:fixed;
	height: 100%;
	width: 85%;
	background-color: grey;
	opacity: 0.5;
	left: 7.5%;
	box-shadow: 0 0 10px grey;
}
ul{
	margin: 0 0 0 0;
	list-style-type: square;
}
li{
	float:left;
	color: white;
	position: relative;
	margin-right: 20px;
}
p.no_message {	
	font-size: 10pt;
	text-indent: 20px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	border-bottom: 1px solid lightgrey;
}
.check {
	position: fixed;
	vertical-align: middle;
	background-color: white;
	border: 1px solid lightgrey;
	width: 20%;
	height: 20%;
	z-index: 10;
	left:40%;
	top: 40%;
	box-shadow: 0 0 10px 1px grey;
	padding: 3px;
}
p.info_user_b {
	font-size: 10pt;
	color: rgb(47,102,267);
}
p.info_user {
	font-size: 10pt;
	color: black
}
p.check_mess {
	text-indent: 20px;
	position: relative;
	left: 10px;
	width: 90%;
}
button.check_b{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 5px;
	padding:3px;
	width:40%;
	left: 9%;
	top:10%;
	position: relative;
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
button.check_b:hover{
  border: 1px solid rgb(198,198,198);
  cursor: pointer;
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
button.check_b:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}
p.headd{
	position: relative;
	color: white;
	background-color: rgb(129,195,252);
	text-indent: 20px;
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: auto;
	height: auto;
	margin: 0px;
	margin-bottom: 10px;
}
p.headd1{
	position: relative;
	color: white;
	background-color: rgb(129,195,252);
	text-indent: 20px;
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: auto;
	height: auto;
	margin: 0px;
	margin-bottom: 0px;
}
#send p.headd{
	position: relative;
	color: white;
	background-color: rgb(129,195,252);
	text-indent: 20px;
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: auto;
	height: auto;
	margin: 0px;
	margin-bottom: 10px;
}
#edit p.headd{
	position: relative;
	color: white;
	background-color: rgb(129,195,252);
	text-indent: 20px;
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: auto;
	height: auto;
	margin: 0px;
	margin-bottom: 10px;
}
p.head{
	position: relative;
	color: rgb(129,195,252);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: 65%;
	height: auto;
	margin: 0px;
	margin-bottom: 10px;
	left: 19%;
	z-index: 4;
}
a.capt{
	position: relative;
	color: rgb(47,102,267);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: 65%;
	height: auto;
	left: 18%;
	margin: 0px;
	margin-bottom: 10px;
	z-index: 4;
}
a.edit_capt{
	position: relative;
	color: rgb(47,102,267);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: 65%;
	height: auto;
	left: 17%;
	margin: 0px;
	margin-bottom: 10px;
	z-index: 4;
}
a.capth{
	position: relative;
	color: rgb(129,195,252);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: 65%;
	height: auto;
	margin: 0px;
	margin-bottom: 10px;
	z-index: 4;
	left: 19.6%;
}
a.captl{
	position: relative;
	color: rgb(129,195,252);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	text-decoration: none;
	margin-right: 15px;
	height: auto;
	margin-bottom: 10px;
	z-index: 4;
	float: right;
}
p.head_edit{
	position: relative;
	color: rgb(129,195,252);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: 65%;
	height: auto;
	margin: 0px;
	margin-bottom: 10px;
	left: 17%;
	z-index: 4;
}
#menu button{
	background: rgb(47,102,267);
	border:none;
	width:150px;
	height:100%;
	text-align: center;
	color: white;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	margin-left: -4px;
	font-size: 12pt;
}
#menu button:hover{
	cursor: pointer;	
	box-shadow: 0 0 4px lightgrey;
	z-index: 5;
}
#menu button:active{
	box-shadow: 0 0 4px lightgrey;
}
#menu button.pic{
	background: rgb(47,102,267);
	border:none;
	width:45px;
	height:100%;
	position: relative;
	text-align: center;
	display: inline-block;
	color: white;
	vertical-align: top;
	font-size: 14pt;
	margin-left: -4px;
	box-shadow: none;
}
#menu button.pic:hover{
	cursor: pointer;	
	box-shadow: 0 0 4px lightgrey;
	z-index: 5;
}
#menu button.pic:active{
	box-shadow: 0 0 4px lightgrey;
}
#menu button.pic:disabled:hover{
	cursor: default;	
	box-shadow: none;
	z-index: 5;
}
#register p{
	font-size: 10pt;
}
#register button{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	color: black;
	margin-top: 20px;
	margin-bottom: 10px;
	padding:3px;
	float: right;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
a.pager{
	margin-right: 5px;
	text-decoration: none;
	color: grey;
}
a.pager_light{
	margin-right: 5px;
	color: rgb(47,102,267);
	font-weight: bold;
	text-decoration: none;
}
#register button:hover{
    border: 1px solid rgb(198,198,198);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    cursor:pointer;
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
}
#register button:active{
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}
#login p.head{
	position: relative;
	color: white;
	background-color: rgb(129,195,252);
	text-indent: 20px;
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: auto;
	height: auto;
	margin: 0px;
	margin-bottom: 10px;
} 
#login p{
	font-size: 10pt;
}
#login button{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 20px;
	padding:3px;
	margin-bottom: 10px;
	float: right;
	color: black;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
#login button:hover{
    border: 1px solid rgb(198,198,198);
    cursor: pointer;
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#login button:active{
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}

td{
	width: 60%;
}
table.tool td{
	width: 200px;
}
p.tool{
	color: rgb(47,102,267);
	font-size: 10pt;
}
tr {
	width: auto;
}
table{
	margin: 0px auto 0px;
}
table.tool{
	margin: 0;
	width: 90%;
	margin-left: 20px;
}
button.tool{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 5px;
	padding:3px;
	left: 57%;
	width:93px;
	position: relative;
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
button.tool:hover{
  border: 1px solid rgb(198,198,198);
  cursor: pointer;
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
button.tool:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}
#send textarea{
	background-color:white;
	resize:none;
	position: relative;
	font-size: 12;
	font-family:arial;
	margin-left: 10px;
	margin-bottom: 5px;
	padding: 2px;
	border: 1px solid lightgrey;
}
textarea.edit_text{
	background-color:white;
	resize:none;
	position: relative;
	font-size: 12;
	left: 18%;
	font-family:arial;
	margin-bottom: 5px;
	margin-left: 10px;
	padding: 2px;
	border: 1px solid lightgrey;
}

#send img{
	width: 15%;
	margin-right: 5px;
	margin-left: 10px;
	position: relative;
	display: inline-block;
}
img.mess{
	width: 15%;
	margin-right: 5px;
	margin-left: 10px;
	position: absolute;
}
#edit img.edit_photo{
	position: absolute;
	width: 15%;
	left:0px;
	margin-right: 5px;
	margin-left: 10px;
}
#send button{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 5px;
	padding:3px;
	left: 80%;
	width:93px;
	position: relative;
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
#send button:hover{
  border: 1px solid rgb(198,198,198);
  cursor: pointer;
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#send button:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}
#info button{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 5px;
	padding:3px;
	width:150px;
	position: relative;
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
#info button:hover{
  border: 1px solid rgb(198,198,198);
  cursor: pointer;
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
button.adm_b{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 5px;
	padding:3px;
	width:100px;
	float: right;
	margin-right: 5px; 
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
	z-index: 5;
}
button.adm_b:hover{
  border: 1px solid rgb(198,198,198);
  cursor: pointer;
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
button.adm_b:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}
#info button:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}
#edit button.edit{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 5px;
	padding:3px;
	left: 77.5%;
	width: 102px;
	position: relative;
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
#edit button.edit:hover{
  border: 1px solid rgb(198,198,198);
  cursor: pointer;
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#edit button.edit:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}
button.mess{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 10px;
	padding:3px;
	left: 77.5%;
	position: relative;
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
button.mess:hover{
    border: 1px solid rgb(198,198,198);
    cursor: pointer;
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
button.mess:active{
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}
#info img{
	position: relative;
	max-width: 98%;
	max-height: 400px;
	margin-top: 5px;
	overflow: hidden;
}
p.mess{
	position: relative;
	width: 77%;
	height: auto;
	font-family: arial;
	left: 20%;
	overflow: hidden;
	margin-top: 5px;
	min-height: 30px;
	font-size: 10pt;
}
p.date{
	position: relative;
	color: lightgrey;
	font-weight: bold;
	font-size: 8pt;
	width: auto;
	text-align: left;
	padding: 2px;
	margin: 0px;
	width: 12%;
	margin-top: 5px;
	margin-bottom: 10px;
	left: 86%;
}
form.mess {
	border-bottom: 1px solid lightgrey;
	margin-bottom: 0px;
	margin-top: 10px;
	width: auto;
	height: auto;
}
button.mess_b {
	float: right;
	right: 0px;
	top: 0px;
	color: lightgrey; 
 	text-decoration: none; 
 	user-select: none;
  background: white;
	box-shadow: none;
	border: none;
 	outline: none;
 	margin-left: 0px;
 	z-index: 7;
}
img.butt {
	height: 90%;
}
button.mess_b:hover {
	color: grey;
	cursor: pointer;
	box-shadow: none;
	border: none;
}
button.mess_b:active {
	color: grey;
}
button.edit_b {
	float: right;
	right: 0px;
	top: 0px;
	color: lightgrey; 
 	text-decoration: none; 
 	user-select: none;
  background: white;
	box-shadow: none;
	border: none;
 	outline: none;
 	margin-left: 0px;
 	z-index: 7;
}
button.edit_b:hover {
	color: grey;
	cursor: pointer;
	box-shadow: none;
	border: none;
}
button.edit_b:active {
	color: grey;
}
a.head {
	position: absolute;
	color: rgb(47,102,267);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: 30%;
	height: auto;
	left: 24%;
}
div.users {
	border-bottom: 1px solid lightgrey;
	margin-bottom: 0px;
	margin-top: 10px;
	width: auto;
	height: auto;	
	position: relative;
	padding: 0px;
}
form.users {
	border-bottom: 1px solid lightgrey;
	margin-bottom: 0px;
	margin-top: 10px;
	width: auto;
	height: auto;	
	position: relative;
	padding: 0px;
}
img.users {
	width: 20%;
	margin: 0px;
	position: relative;
	margin-bottom: 10px;
}
p.error{
	color:red;
	font-weight: bold;
	font-style: italic;
}
a.name {
	margin:0px;
	font-size: 18pt;
	color: rgb(47,102,267);
	font-weight: bold;
	text-decoration: none;
}
a.name:visited {
	margin:0px;
	color: rgb(47,102,267);
	font-weight: bold;
	font-size: 18pt;
	text-decoration: none;
}
input {
	background-color:white;
	resize:none;
	position: relative;
	font-size: 12;
	font-family:arial;
	margin-left: 10px;
	margin-bottom: 5px;
	padding: 2px;
	border: 1px solid lightgrey;
}
.lang2 {
	height: 40%;
	position: absolute;
	margin-right: 10px;
	width: 40px;
	right: 0px;
	margin-top: 12px;
	z-index: 3;
	vertical-align: middle;
}
.lang1{
	height: 40%;
	position: absolute;
	margin-right: 10px;
	width: 40px;
	right: 50px;
	margin-top: 12px;
	z-index: 3;
	vertical-align: middle;
}
.ban_error {
	position: relative;
	color:red;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 5px;
}
