body{
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-image: url('../images/fon.jpg');
	margin:0px;
	background-size: 100%;
	padding:0px;
	font-family: arial;
	border-spacing: 0;
}
#back{
	height: auto;
	position: relative;
	padding: 0px;
	width: 70%;
	left: 15%;
	background-color: white;
	top: 45px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0 1px 15px 3px grey;
}
#menu_back{
	background-color: black;
	height: 6.6%;
	width: 100%;
	position: fixed;
	line-height: 50px;
	vertical-align: middle;
	z-index: 3;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;	
	opacity: 0.65;
}
#info{
	position: relative;
	display: inline-block;
	background-color: white;
	min-height: 93%;
	vertical-align: top;
	text-align: center;
	width: 30%; 
	padding-left: 5px;
}
p.headd{
	position: relative;
	color: white;
	background-color: rgb(87,56,4);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: auto;
	height: auto;
	margin: 0px;
	margin-bottom: 0px;
	opacity: 0.85;
}
#ank{
	position: absolute;
	width: 9.5%;
	height: 100%;
	top:0px;
	right: 0px;
	display: inline-block;
	vertical-align: top;
	background-color: rgb(237,237,237);
	opacity: 0.5;
	overflow: hidden;
}

#content{
	position: relative;
	min-height: 93%;
	background-color: white;
	width: 58%;
	margin: 0px;
	vertical-align: top;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	display: inline-block;
	border-right: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	z-index: 2;
	overflow: hidden;
	border-bottom: 1px solid lightgrey;
}
div.show_photo {
	position: fixed;
	height: auto;
	width: auto;
	top: 10%;
	left:23%;
	background-color: white;
	box-shadow: 0 0 5px 2px grey;
	padding: 10px;
	text-align: center;
	z-index: 10;
}
img.show_photo {
	position: relative;
	max-height: 500px;
	z-index: 11;
	margin: 0px;
}






#head{
	background: linear-gradient(to bottom, rgb(54,157,247), white);
	height: 20%;
	position: relative;
	text-align: center;
	color: white;
	line-height: 150px;
	font-style: italic;
	font-size: 400%;
	width: 100%;
	margin: 0px;
}




#send{
	width:auto;
	height: auto;
	margin-bottom: 5px;
	border-bottom: 1px solid lightgrey;
}
#edit{
	width:auto;
	height: auto;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#register p.head{
	position: relative;
	color: white;
	background-color: rgb(129,195,252);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: auto;
	height: auto;
	margin: 0px;
	margin-bottom: 10px;

} 
#fon{
	position:fixed;
	height: 100%;
	width: 85%;
	background-color: grey;
	opacity: 0.5;
	left: 7.5%;
	box-shadow: 0 0 10px grey;
}
ul{
	margin: 0 0 0 0;
	list-style-type: square;
}
li{
	float:left;
	color: white;
	position: relative;
	margin-right: 20px;
}

.edit_question_button {
	position: relative;
	text-align: center;
	display: inline-block;
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	border: 1px solid rgba(0,0,0,.1);
}
.edit_question {	
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}
.check {
	position: fixed;
	vertical-align: middle;
	background-color: white;
	border: 1px solid lightgrey;
	width: 20%;
	text-align: center;
	height: 20%;
	z-index: 10;
	left:40%;
	top: 40%;
	box-shadow: 0 0 10px 1px grey;
	padding: 3px;
}
.edit_check {
	position: relative;
	vertical-align: middle;
	background-color: white;
	border: 1px solid lightgrey;
	width: 90%;
	height: 20%;
	z-index: 10;
	left: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 10px 1px grey;
}

p.info_user_e {
	position: relative;
	font-size: 10pt;
	color: rgb(47,102,267);
	left: 20%;
}


p.check_mess {
	position: relative;
	font-size: 10pt;
	width: 90%;
}
button.check_b{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 5px;
	padding:3px;
	width:40%;
	position: relative;
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
button.check_b:hover{
  border: 1px solid rgb(198,198,198);
  cursor: pointer;
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
button.check_b:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}

p.headd1{
	position: relative;
	color: white;
	background-color: rgb(129,195,252);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: auto;
	height: auto;
	margin: 0px;
	margin-bottom: 0px;
}
#send p.headd{
	position: relative;
	color: white;
	background-color: rgb(129,195,252);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: auto;
	height: auto;
	margin: 0px;
	margin-bottom: 10px;
}
#edit p.headd{
	position: relative;
	color: white;
	background-color: rgb(129,195,252);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: auto;
	height: auto;
	margin: 0px;
	margin-bottom: 10px;
}
p.head{
	position: relative;
	color: rgb(129,195,252);
	font-weight: bold;
	font-size: 10pt;
	width: 65%;
	height: auto;
	margin: 0px;
	margin-bottom: 0px;
	left: 20%;
	z-index: 4;
}

.edit_blue {
	color: rgb(47,102,267);	
}
.edit_blue_e {
	color: rgb(47,102,267);	
	left: 18%;
}
.edit_blue_l {
	color: rgb(47,102,267);	
	text-align: center;
}
.edit_err {
	color: red;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}
.edit_head {
	color: rgb(129,195,252);
	font-weight: bold;
}
.edit_button {
	left: 67%;
	text-align: center;
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	border: 1px solid rgba(0,0,0,.1);
	margin-bottom: 10px;
}
.edit_button_t {
	float: right;
	text-align: center;
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	border: 1px solid rgba(0,0,0,.1);
	margin-bottom: 10px;
}
.edit_button_blue {
	left: 67%;
	color: rgb(47,102,267);	
	text-align: right;
}
a.edit_capt{
	position: relative;
	color: rgb(47,102,267);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: 65%;
	height: auto;
	left: 17%;
	margin: 0px;
	margin-bottom: 10px;
	z-index: 4;
}


p.head_edit{
	position: relative;
	color: rgb(129,195,252);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: 65%;
	height: auto;
	margin: 0px;
	margin-bottom: 10px;
	left: 17%;
	z-index: 4;
}
#menu button{
	background: lightgrey;
	border:none;
	width:150px;
	height:100%;
	text-align: center;
	color: white;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	margin-left: -4px;
	font-size: 12pt;
}
#menu button:hover{
	cursor: pointer;	
	box-shadow: 0 0 4px lightgrey;
	z-index: 5;
}
#menu button:active{
	box-shadow: 0 0 4px lightgrey;
}




#login p.head{
	position: relative;
	color: white;
	background-color: rgb(129,195,252);
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	padding: 2px;
	width: auto;
	height: auto;
	margin: 0px;
	margin-bottom: 10px;
} 
#login p{
	font-size: 10pt;
}
#login button{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 20px;
	padding:3px;
	margin-bottom: 10px;
	float: right;
	color: black;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
#login button:hover{
    border: 1px solid rgb(198,198,198);
    cursor: pointer;
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#login button:active{
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}


table.tool td{
	width: 200px;
}
p.tool{
	color: rgb(47,102,267);
	font-size: 10pt;
}
table.tool{
	margin: 0;
	width: 90%;
	margin-left: 20px;
}
button.tool{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 5px;
	padding:3px;
	left: 57%;
	width:93px;
	position: relative;
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
button.tool:hover{
  border: 1px solid rgb(198,198,198);
  cursor: pointer;
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
button.tool:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}

textarea.edit_text{
	background-color:white;
	resize:none;
	position: relative;
	font-size: 12;
	left: 18%;
	font-family:arial;
	margin-bottom: 5px;
	margin-left: 10px;
	padding: 2px;
	border: 1px solid lightgrey;
}

#send img{
	width: 15%;
	margin-right: 5px;
	margin-left: 10px;
	position: relative;
	display: inline-block;
}

img.edit_mess{
	width: 15%;
	margin-right: 5px;
	margin-left: 10px;
	position: absolute;
	margin-top: 25px;
}
#edit img.edit_photo{
	position: absolute;
	width: 15%;
	margin: 0px;
}
#send button{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 5px;
	padding:3px;
	left: 80%;
	width:93px;
	position: relative;
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
#send button:hover{
  border: 1px solid rgb(198,198,198);
  cursor: pointer;
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#send button:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}
#info button{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 5px;
	padding:3px;
	width:150px;
	position: relative;
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
#info button:hover{
  border: 1px solid rgb(198,198,198);
  cursor: pointer;
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
button.adm_b{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 5px;
	padding:3px;
	width:100px;
	float: right;
	margin-right: 5px; 
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
	z-index: 5;
}
button.adm_b:hover{
  border: 1px solid rgb(198,198,198);
  cursor: pointer;
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
button.adm_b:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}
#info button:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}
#edit button.edit{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 5px;
	padding:3px;
	left: 77.5%;
	width: 102px;
	position: relative;
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
#edit button.edit:hover{
  border: 1px solid rgb(198,198,198);
  cursor: pointer;
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#edit button.edit:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}
button.mess{
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	text-align:middle;	
  color: rgb(68,68,68);
	margin-top: 10px;
	padding:3px;
	left: 77.5%;
	position: relative;
	color: black;
	margin-bottom: 10px;
	padding-left:10px;
  border: 1px solid rgba(0,0,0,.1);
	padding-right:5px;
}
button.mess:hover{
    border: 1px solid rgb(198,198,198);
    cursor: pointer;
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
button.mess:active{
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
}







div.mess {
	border-bottom: 1px solid lightgrey;
	margin-bottom: 0px;
	margin-top: 10px;
	width: auto;
	height: auto;
}


img.butt {
	height: 100%;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}
.check img {
	height: 25%;
}
.edit_check img {
	height: 25%;	
}

#info button.mess_b {
	position: absolute;
	width: auto;
	color: lightgrey; 
 	text-decoration: none; 
 	user-select: none;
  background: white;
  left: 0;
	box-shadow: none;
	border: none;
	margin: 0;
 	outline: none;
 	z-index: 7;
}
#info button.mess_b:hover {
	color: grey;
	cursor: pointer;
	box-shadow: none;
	border: none;
}
#info button.mess_b:active {
	color: grey;
}
#info button.mess_b_x {
	position: absolute;
	width: auto;
	color: lightgrey; 
 	text-decoration: none; 
 	user-select: none;
  background: white;
  left: 25px;
	box-shadow: none;
	border: none;
	margin: 0;
 	outline: none;
 	z-index: 7;
}
#info button.mess_b_x:hover {
	color: grey;
	cursor: pointer;
	box-shadow: none;
	border: none;
}
#info button.mess_b_x:active {
	color: grey;
}
button.edit_b {
	float: right;
	right: 0px;
	top: 0px;
	color: lightgrey; 
 	text-decoration: none; 
 	user-select: none;
  background: white;
	box-shadow: none;
	border: none;
 	outline: none;
 	margin-left: 0px;
 	z-index: 7;
}
button.edit_b:hover {
	color: grey;
	cursor: pointer;
	box-shadow: none;
	border: none;
}
button.edit_b:active {
	color: grey;
}

div.users {
	border-bottom: 1px solid lightgrey;
	margin-bottom: 0px;
	margin-top: 10px;
	width: auto;
	height: auto;	
	position: relative;
	padding: 0px;
}





.ban_error {
	position: relative;
	color:red;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 5px;
}
